{
  "table_prefix":"",
  "content":
  {
    "0":
    {
      "repository": 
      {
        "owner":"hertsch",
        "name":"md_test",
        "root":"DE",
        "media":"Media"
      },
      "cms": 
      {
        "root":"test",
        "media":"md_test"
      }
    }
  }
}